@font-face {
    font-family: "GT Eesti Pro Text";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("GT Eesti Pro Text"),
        /* Если не получилось, загрузит otf */
    url("./assets/gteestiprotext_regular.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    font-family: "GT Eesti Pro Text", sans-serif;
}

:root {
    --ozon-blue: #005BFF;
}

html, body, .container {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.container > p {
    position: absolute;
    top: 20px;
    left: 20px;
}

.progress-ring {
    margin-bottom: -60px;
}

.progress-settings__frame {
    margin-top: -60px;
}

.progress-bar, .progress-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

.progress-settings {
    flex-direction: column;
}

@media screen and (max-width: 950px) and (max-height: 550px) and (orientation: landscape) {
    .container {
        flex-direction: row;
    }

    .progress-bar, .progress-settings {
        height: 100%;
        width: 50%;
        flex-wrap: wrap;
    }

    .progress-ring {
        margin-bottom: 0;
        margin-right: -60px;
    }

    .progress-settings__frame {
        margin-top: 0;
        margin-left: -60px;
    }
}

.progress-ring_hide {
    display: none;
}

.progress-ring__circle_filled {
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.3s;
}

.progress-ring__circle_animate {
    animation: progress-steps 3s ease-in-out infinite;
}

@keyframes progress-steps {
    from {
        stroke-dashoffset: 326.726;
        stroke-dasharray: 326.726 326.726;
    }
    25% {
        stroke-dashoffset: 245;
    }
    50% {
        stroke-dashoffset: 163;
    }
    75% {
        stroke-dashoffset: 81;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

input {
    box-sizing: border-box;
}

input[id="percentFill"] {
    width: 50px;
    height: 30px;
    border-radius: 25px;
    font-family: "GT Eesti Pro Text", sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    border: black 1px solid;
    text-align: center;
}

input[id="percentFill"]:focus {
    border-color: rgba(0, 91, 255, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0, 91, 255, 0.25);
}

.progress-settings__frame__input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.progress-settings__frame__input p {
    margin-left: 25px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dfe6f0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--ozon-blue);
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}
